In [1]:
import os
import re
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('fibe_out_all_1024.csv')
df.head()

   Unnamed: 0                target      Index
0           0        careers<|pad|>  Article_0
1           1        careers<|pad|>  Article_1
2           2  health<|pad|><|pad|>  Article_2
3           3    academic interests  Article_3
4           4    academic interests  Article_4

In [3]:
df['target'] = df['target'].apply(lambda x: x.replace('<|assistant|>',''))
df['target'] = df['target'].apply(lambda x: x.replace('<|pad|>',''))
df['target'] = df['target'].apply(lambda x: x.replace('<|endoftext|>',''))

In [4]:
df.head()

   Unnamed: 0              target      Index
0           0             careers  Article_0
1           1             careers  Article_1
2           2              health  Article_2
3           3  academic interests  Article_3
4           4  academic interests  Article_4

In [5]:
df['target'] = df['target'].apply(lambda x: '"' + str(x) + '"')
df.head()

   Unnamed: 0                target      Index
0           0             "careers"  Article_0
1           1             "careers"  Article_1
2           2              "health"  Article_2
3           3  "academic interests"  Article_3
4           4  "academic interests"  Article_4

In [6]:
df['Index'] = df['Index'].apply(lambda x: '"' + str(x) + '"')
df.head()

   Unnamed: 0                target        Index
0           0             "careers"  "Article_0"
1           1             "careers"  "Article_1"
2           2              "health"  "Article_2"
3           3  "academic interests"  "Article_3"
4           4  "academic interests"  "Article_4"

In [7]:
df = df.drop(df.columns[[0]], axis=1)
df.columns = df.columns.map(lambda x: f'"{x}"')
df.to_csv("answer.csv",index=False)

In [8]:
# thre quotes get added for somereason. removing them in post-process
f = open("answer.csv",'r')
x = f.read()
x = x.replace('"""','"')
f = open("answer.csv",'w')
f.write(x)

6014519